/* display */
.flex{
    display: flex;
}
/* height */
.h-1{
    height: var(--1);
}
.h-2{
    height: var(--2);
}
.h-3{
    height: var(--3);
}
.h-4{
    height: var(--4);
}
.h-5{
    height: var(--5);
}
.h-6{
    height: var(--6);
}
.h-7{
    height: var(--7);
}
.h-8{
    height: var(--8);
}
.h-9{
    height: var(--9);
}
.h-10{
    height: var(--10);
}
.h-11{
    height: var(--11);
}

.h-12{
    height:var(--12);
}


.h-12{
    height:var(--12);
}
.h-13{
    height:var(--13);
}
.h-14{
    height:var(--14);
}

.h-15{
    height:var(--15);
}

.h-16{
    height:var(--16);
}
.h-17{
    height:var(--17);
}
.h-18{
    height:var(--18);
}
.h-19{
    height:var(--19);
}

.h-20{
    height:var(--20);
}
.h-21{
    height:var(--21);
}
.h-22{
    height:var(--22);
}
.h-23{
    height:var(--23);
}

.h-24{
    height:var(--24);
}
.h-25{
    height:var(--25);
}
.h-26{
    height:var(--26);
}
.h-72{
    height:var(--72);
}
.h-73{
    height:var(--73);
}
.h-74{
    height:var(--74);
}
.h-75{
    height:var(--75);
}
.h-76{
    height:var(--76);
}
.h-77{
    height:var(--77);
}
.h-78{
    height:var(--78);
}
.h-79{
    height:var(--79);
}
.h-80{
    height:var(--80);
}
.h-81{
    height:var(--81);
}
.h-82{
    height:var(--82);
}
.h-83{
    height:var(--83);
}
.h-84{
    height:var(--84);
}
.h-85{
    height:var(--85);
}
/* width */
.w-1{
    width: var(--1)
}
.w-2{
    width: var(--2)
}
.w-3{
    width: var(--3)
}
.w-4{
    width: var(--4)
}
.w-5{
    width: var(--5)
}
.w-6{
    width: var(--6)
}
.w-7{
    width: var(--7);
}
.w-8{
    width: var(--8);
}
.w-9{
    width: var(--9);
}
.w-10{
    width: var(--10);
}
.w-11{
    width: var(--11);
}

.w-12{
    width: var(--12);
}
.w-13{
    width: var(--13);
}
.w-14{
    width: var(--14);
}
.w-15{
    width: var(--15);
}
.w-16{
    width: var(--16);
}
.w-17{
    width: var(--17);
}
.w-18{
    width: var(--18);
}
.w-19{
    width: var(--19);
}

.w-20{
    width: var(--20);
}

.w-20{
    width: var(--20);
}
.w-21{
    width: var(--21);
}
.w-22{
    width: var(--22);
}
.w-23{
    width: var(--23);
}
.w-24{
    width: var(--24);
}
.w-25{
    width: var(--25);
}

.w-26{
    width: var(--26);
}
.w-72{
    width: var(--72);
}
.w-73{
    width: var(--73);
}
.w-74{
    width: var(--74);
}
.w-75{
    width: var(--75);
}
.w-76{
    width: var(--76);
}
.w-77{
    width: var(--77);
}
.w-78{
    width: var(--78);
}
.w-79{
    width: var(--79);
}
.w-80{
    width: var(--80);
}
.w-81{
    width: var(--81);
}
.w-82{
    width: var(--82);
}
.w-83{
    width: var(--83);
}
.w-84{
    width: var(--84);
}
.w-85{
    width: var(--85);
}

.w-40{
    width: var(--40);
}


/* reham design */
.container {
    padding-left: var(--4);
    padding-right: var(--4);
    margin-left: auto ;
    margin-right: auto ;
}



@media (min-width:576px) {
    .container {
        width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        width: 960px;
    }
}


@media (min-width:1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width:1400px) {
    .container {
        width: 1320px;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: var(--10);
}







