/* display */
.flex{
    display: flex;
}
/* height */
.h-1{
    height: var(--1);
}
.h-2{
    height: var(--2);
}
.h-3{
    height: var(--3);
}
.h-4{
    height: var(--4);
}
.h-5{
    height: var(--5);
}
.h-6{
    height: var(--6);
}
.h-7{
    height: var(--7);
}
.h-8{
    height: var(--8);
}
.h-9{
    height: var(--9);
}
.h-10{
    height: var(--10);
}
.h-11{
    height: var(--11);
}
<<<<<<< HEAD









.h-57{
    height: var(--57);
}
.h-58{
    height: var(--58);
}
.h-59{
    height: var(--59);
}
.h-60{
    height: var(--60);
}
.h-61{
    height: var(--61);
}
.h-62{
    height: var(--62);
}
.h-63{
    height: var(--63);
}
.h-64{
    height: var(--64);
}
.h-65{
    height: var(--65);
}
.h-66{
    height: var(--66);
}
.h-67{
    height: var(--67);
}
.h-68{
    height: var(--68);
}
.h-69{
    height: var(--69);
}
.h-70{
    height: var(--70);
}
.h-71{
    height: var(--71);
}









=======
.h-42{
    height: var(--42);
}
.h-43{
    height: var(--43);
}
.h-44{
    height: var(--44);
}
.h-45{
    height: var(--45);
}
.h-46{
    height: var(--46);
}
.h-47{
    height: var(--47);
}
.h-48{
    height: var(--48);
}
.h-48{
    height: var(--48);
}
.h-49{
    height: var(--49);
}
.h-50{
    height: var(--50);
}
.h-51{
    height: var(--51);
}
.h-52{
    height: var(--52);
}
.h-53{
    height: var(--53);
}
.h-54{
    height: var(--54);
}
.h-55{
    height: var(--55);
}
.h-56{
    height: var(--56);
}

>>>>>>> 7f2e0aa4c0362e26bc247ceb4f441ad2efd14142
/* width */
.w-1{
    width: var(--1)
}
.w-2{
    width: var(--2)
}
.w-3{
    width: var(--3)
}
.w-4{
    width: var(--4)
}
.w-5{
    width: var(--5)
}
.w-6{
    width: var(--6)
}
.w-7{
    width: var(--7);
}
.w-8{
    width: var(--8);
}
.w-9{
    width: var(--9);
}
.w-10{
    width: var(--10);
}
.w-11{
    width: var(--11);








}

.w-12{
    width: var(--12);
}
.w-13{
    width: var(--13);
}
.w-14{
    width: var(--14);
}
.w-15{
    width: var(--15);
}
.w-16{
    width: var(--16);
}
.w-17{
    width: var(--17);
}
.w-18{
    width: var(--18);
}
.w-19{
    width: var(--19);
}

.w-20{
    width: var(--20);
}


.w-21{
    width: var(--21);
}
.w-22{
    width: var(--22);
}
.w-23{
    width: var(--23);
}
.w-24{
    width: var(--24);
}
.w-25{
    width: var(--25);
}

.w-26{
    width: var(--26);
}
.w27{
    width: var(--27); /*Omar Hawara*/
}
.w28{
    width: var(--28); /*Omar Hawara*/
}
.w29{
    width: var(--29); /*Omar Hawara*/
}
.w30{
    width: var(--30); /*Omar Hawara*/
}
.w31{
    width: var(--31); /*Omar Hawara*/
}
.w32{
    width: var(--32); /*Omar Hawara*/
}
.w33{
    width: var(--33); /*Omar Hawara*/
}
.w34{
    width: var(--34); /*Omar Hawara*/
}
.w35{
    width: var(--35); /*Omar Hawara*/
}
.w36{
    width: var(--36); /*Omar Hawara*/
}
.w37{
    width: var(--37); /*Omar Hawara*/
}
.w38{
    width: var(--38); /*Omar Hawara*/
}
.w39{
    width: var(--39); /*Omar Hawara*/
}
.w40{
    width: var(--40); /*Omar Hawara*/
}
.w41{
    width: var(--41); /*Omar Hawara*/
}
.w-42{
    width: var(--42);
}
.w-43{
    width: var(--43);
}
.w-44{
    width: var(--44);
}
.w-45{
    width: var(--45);
}
.w-46{
    width: var(--46);
}
.w-47{
    width: var(--47);
}
.w-48{
    width: var(--48);
}
.w-49{
    width: var(--49);
}
.w-50{
    width: var(--50);
}
.w-51{
    width: var(--51);
}
.w-52{
    width: var(--52);
}
.w-53{
    width: var(--53);
}
.w-54{
    width: var(--54);
}
.w-55{
    width: var(--55);
}
.w-56{
    width: var(--56);
}

.w41{
    width: var(--41); /*Omar Hawara*/
}
.w-72{
    width: var(--72);
}
.w-73{
    width: var(--73);
}
.w-74{
    width: var(--74);
}
.w-75{
    width: var(--75);
}
.w-76{
    width: var(--76);
}
.w-77{
    width: var(--77);
}
.w-78{
    width: var(--78);
}
.w-79{
    width: var(--79);
}
.w-80{
    width: var(--80);
}
.w-81{
    width: var(--81);
}
.w-82{
    width: var(--82);
}
.w-83{
    width: var(--83);
}
.w-84{
    width: var(--84);
}
.w-85{
    width: var(--85);
}









.w-57{
    width: var(--57)
}
.w-58{
    width: var(--58)
}
.w-59{
    width: var(--59)
}
.w-60{
    width: var(--60)
}
.w-61{
    width: var(--61)
}
.w-62{
    width: var(--62)
}
.w-63{
    width: var(--63)
}
.w-64{
    width: var(--64)
}
.w-65{
    width: var(--65)
}
.w-66{
    width: var(--66)
}
.w-67{
    width: var(--67)
}
.w-68{
    width: var(--68)
}
.w-69{
    width: var(--69)
}
.w-70{
    width: var(--70)
}
.w-71{
    width: var(--71)
}























/* reham design */
.container {
    padding-left: var(--4);
    padding-right: var(--4);
    margin-left: auto ;
    margin-right: auto ;
}



@media (min-width:576px) {
    .container {
        width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        width: 960px;
    }
}


@media (min-width:1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width:1400px) {
    .container {
        width: 1320px;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: var(--10);
}







